
.form-field-length-80{
    width:80%;
}
.form-field-length-50{
    width:50%;
}
.form-field-length-60{
    width:60%;
}
.btn-openModal{
    margin: 15px;
}
.fa-close{
    font-size:20px;
}
.outer{
margin: 20px 80px 20px 30px;
}
.modal-title {
  font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
    margin-top: -20px;
    padding-left:15px;
    display: inline-block;
}
.que{
    font-size: 20px;
}
.nextButton {
    width:100px;
    height:35px;
    color:white;
    background-color: rgb(17, 106, 223);
    float: right;
    margin: 0px;   
}
#payment #modal2{
    margin-top: 50px;
}
.modal_container{
    margin: 27px 0px 0px 27px;
}
.img{
    height: 60px;
    width: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imgtxt{
    margin-top: -25px;
}
.form-check-input{
    float: right;
}
.col-md-5{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(212, 212, 212);
    margin:10px;
    border-radius: 5px;
    font-weight: bold;
}
.selected-box{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(101, 161, 209);
    margin:10px;
    border-radius: 5px;
    font-weight: bold;
    background-color:rgb(241, 248, 253); 
}
.fa-info{
   font-size: 11px;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding:3px 7px 3px 7px;
    color: grey;
    margin:5px ;
    position: absolute;
    display: inline-block;
}
/*tooltip customization*/
.fa-info + .tooltip > .tooltip-inner {
    text-align: left;
    padding: 10px;
    border-radius:0px;
  }
  
/*custom Radio buttons*/


label{
	position: relative;
	cursor: pointer;
	color:  rgb(212, 212, 212);
	font-size: 25px;
}

input[type="checkbox"], input[type="radio"]{
	position: absolute;
	right: 9000px;
}

/*Radio box*/

input[type="radio"] + .label-text:before{
	content: "\f10c";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin: 0px 0px -30px 148px;
}

input[type="radio"]:checked + .label-text:before{
	content: "\f192";
	color: #2773d6;
	animation: effect 250ms ease-in;
}

input[type="radio"]:disabled + .label-text{
	color: #aaa;
}

input[type="radio"]:disabled + .label-text:before{
	content: "\f111";
	color: #ccc;
}
